# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
# 個人檔案不上傳git
config/private/**
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg
*.log
config/private/

# Flask
instance/
.webassets-cache

# VS Code
.vscode/
*.code-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

